<div class="dishes-wrapper shadowed">

    <div class="dishes-image-wrapper" > 
        <a href="#" class='appetizers-link'><img  src="images/food/entrante_main.jpg"    alt="Entrantes"     class='draw-img'></a>
    </div>

    <div class="dishes-text-wrapper"> 
        <a href="#" class='appetizers-link'><h3>Appetizers.</h3></a>
        <p> 
            Las carnes son el emblema de La Taberna del Cuatro. 
            Pertenecemos a una familia de fuerte tradición ganadera en un valle que tiene en la producción de vacuno de carne una de sus principales fuentes de riqueza.
        </p>
         <p> 
            La vinculacion familiar a“Carnicerías SIERRA” nos ofrece una situación de privilegio para acceder al producto y la calclassad que buscamos.
        </p>
    </div>
</div>

<div class="dishes-wrapper shadowed">  

    <div class="dishes-text-wrapper"> 
        <a href="#" class="fish-link" ><h3>Fish.</h3></a>
        <p> 
            Las carnes son el emblema de La Taberna del Cuatro. 
            Pertenecemos a una familia de fuerte tradición ganadera en un valle que tiene en la producción de vacuno de carne una de sus principales fuentes de riqueza.
        </p>
         <p> 
            La vinculacion familiar a“Carnicerías SIERRA” nos ofrece una situación de privilegio para acceder al producto y la calclassad que buscamos.
        </p>
    </div>

    <div class="dishes-image-wrapper"> 
        <a href="#" class="fish-link" ><img  src="images/food/fish_main.jpg"    alt="Entrantes"  class='draw-img'   ></a>
    </div>
    
</div>

<div class="dishes-wrapper shadowed">

    <div class="dishes-image-wrapper"> 
        <a href="#" class="meat-link" ><img  src="images/food/meat_main.jpg"    alt="Entrantes"     class='draw-img'></a>
    </div>

    <div class="dishes-text-wrapper"> 
        <a href="#" class="meat-link" ><h3>Meat.</h3></a>
        <p> 
            Las carnes son el emblema de La Taberna del Cuatro. 
            Pertenecemos a una familia de fuerte tradición ganadera en un valle que tiene en la producción de vacuno de carne una de sus principales fuentes de riqueza.
        </p>
         <p> 
            La vinculacion familiar a“Carnicerías SIERRA” nos ofrece una situación de privilegio para acceder al producto y la calclassad que buscamos.
        </p>
    </div>
</div>

<div class="dishes-wrapper shadowed">  

    <div class="dishes-text-wrapper"> 
         <a href="#" class="desserts-link"><h3>Dessert.</h3></a>
        <p> 
            Las carnes son el emblema de La Taberna del Cuatro. 
            Pertenecemos a una familia de fuerte tradición ganadera en un valle que tiene en la producción de vacuno de carne una de sus principales fuentes de riqueza.
        </p>
         <p> 
            La vinculacion familiar a“Carnicerías SIERRA” nos ofrece una situación de privilegio para acceder al producto y la calclassad que buscamos.
        </p>
    </div>

    <div class="dishes-image-wrapper"> 
        <a href="#" class="desserts-link"><a href="#"><img src="images/food/dessert_main.jpg"    alt="Dessert"     class='draw-img'></a>
    </div>
    
</div>

<script src="js/main.js"></script>
